{% capture title %}
  {% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}
{% endcapture %}
<title>{{ title | strip }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Anthony Bwembya">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">

<script>
  if (window.location.hostname === 'abwembya.online' || window.location.hostname === 'www.abwembya.online') {
    window.location.replace('https://abwembya.com' + window.location.pathname + window.location.search + window.location.hash);
  }
</script>

<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

{% if site.chrome_mobile_color %}
<meta name="theme-color" content="{{ site.chrome_mobile_color }}">
{% endif %}

{% include analytics.html %}
